<footer class="container-fluid">
            <div class="row center-xs">
                    <div class="footer-links">
                        <ul class="list-unstyled list-inline">
                            <li>View on Github:</li>
                            <li><a href="https://github.com/vertcoin-project/ccs-front" class="white footer-link">Frontend</a></li>
                            <li><a href="https://github.com/vertcoin-project/ccs-back" class="white footer-link">Backend</a></li>
                            <li><a href="https://github.com/vertcoin-project/ccs-proposals" class="white footer-link">Proposals</a></li>
                        </ul>
                    </div>
            </div>
</footer>
