{%assign counter=0%}  
<div class="mob-nav">
              <input class="burger-check" id="mobile-burger" type="checkbox"><label for="mobile-burger" class="burger"></label>
           
        <div class="slide-in-nav">
             <div class="container slide-in">
                 <div class="row">
                     <div class="col-xs-12"> 
                         <div class="text-center nav-item mob">
                            <a href="/ideas/" class="top-link">Ideas</a>
                         </div>
                         <div class="text-center nav-item mob">
                            <a href="/funding-required/">Funding Required</a>
                         </div>
                         <div class="text-center nav-item mob">
                            <a href="/work-in-progress/">Work in Progress</a>
                         </div>
                         <div class="text-center nav-item mob">
                            <a href="/completed-proposals/">Completed Tasks</a>
                         </div>
                         <div class="text-center nav-item mob">
                            <a href="/completed-proposals/">Back to Getmonero.org</a>
                         </div>
                     </div>                     
                 </div>          
             </div>
          
        </div>
       </div>
       
        <div class="desktop-nav">
           <nav class="container">
              <div class="row middle-xs">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p class="site-name"><a href="/">Community Crowdfunding System</a></p>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 items end-xs">
                      <div class="row end-xs middle-xs">
                         <div class="col-md-12">
                          <a href="/ideas/" class="top-link">Ideas</a>
                          <a href="/funding-required/">Funding Required</a>
                          <a href="/work-in-progress/">Work in Progress</a>
                          <a href="/completed-proposals/">Completed Tasks</a>
                          <a href="https://getmonero.org">Getmonero.org</a>
                          </div>
                      </div>
                  </div>
              </div>
        </nav>
        </div>
        <div class="mob bot-nav white-nav">
            <div class="row middle-xs">
                <div class="col-xs-12">
                    <p class="site-name"><a href="{% if site.lang == 'en' %}
                    
                    {{ site.baseurl_root }}/
                    
                    {% else %}
                    
                    {{ site.baseurl_root }}/{{site.lang}}
                    
                    {% endif %}">Community Crowdfunding System</a></p>
                </div>
            </div>     
        </div>    
